.roadmap {
  width: 80%;
  position: relative;
  margin: auto;
  padding: 1em 0;
}

.roadmap .title {
  text-align: center;
  margin: 2em 0;
}

.roadmap .container {
  display: flex;
  justify-content: space-evenly;
}

.active .triangle {
  visibility: visible;
}

.triangle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
  padding: 4em 3rem 6em 3em;
  background-color: rgb(170, 170, 170);
  color: #282253;
  border-radius: 2em;
  text-align: center;
}

.active .content {
  background: #fff;
  color: #000;
}

.content h3 {
  margin-bottom: 0.6em;
}
.content p {
  line-height: 30px;
}
