.about-wrapper {
    margin: auto;
    width: 80%;
    margin: 18rem auto;
    border-radius: 46px;
    height: auto;
    background-image: url(/images/about_bg.png);
    background-position: center;
    background-size: cover;
    padding: 0px 2vw 0px 2vw !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
.about-wrapper img {
  height: 420px;
  width: 290px;
}

.about-wrapper h2 {
  margin: 0.4em 0;
}

.about-wrapper .content {
  background: transparent;
  color: #fff;
  text-align: left;
}

.details {
  width: 290px;
  padding: 0 .7em;
}

.details img {
  height: 20px;
  width: 20px;
}

.details .title,
.details .values,
.details .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  margin: 1em 0;
}

.colored-header {
  color: aqua;
}

.likes {
  display: flex;
  align-items: center;
}


.content h2{
  font-size: 30px;
}

.content p {
  line-height: 33px;
  font-size: 24px;
}
