header {
    height: 100vh;
    background-image: url(/images/banner.png);
    /* background: #282253; */
    -webkit-mask-image: linear-gradient(to top, transparent 4%, white 22%);
    mask-image: linear-gradient(to top, transparent 5%, black 100%);
    background-repeat: no-repeat;
    background-blend-mode: color-dodge;
}

.menu-icon {
  height: 26px;
  width: 24px;
  display: none;
}
.mobile-nav-items {
  display: flex !important;
  flex-direction: column;
  margin-top: 1.5rem;
  /* position: absolute;
    top: 0; */
  z-index: 9999;
}
.mobile-navbar .menu-icon {
  position: absolute;
  top: 20px;
  right: 20px;
}
.nav-items {
  translate: 0.4s all ease;
}
.mobile-navbar {
  position: relative;
  width: 100%;
  flex-direction: column;
  background-color: #06041b;
  z-index: 999;
}
.mobile-nav-links {
  display: flex !important;
  flex-direction: column;
  margin-bottom: 1.3rem;
}
.mobile-nav-items .nav-social-links {
  margin-bottom: 2rem;
}
.mobile-nav-links li {
  margin: 0.3rem 0;
}

/* RESPONSIVENESS */
@media screen and (max-width: 837px) {
  .nav-items {
    display: none;
  }
  .menu-icon {
    display: inline-block;
  }
  .about-wrapper {
    flex-wrap: wrap;
    width: 90% !important;
  }

  .about-wrapper .image_wrapper {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
  }
  .image_wrapper img {
    width: 100% !important;
    height: 400px !important;
    align-items: center;
  }
  
  .image_wrapper .details{
    flex-basis: 100%;
  }

  .details img{
    width: 20px !important;
    height: 20px !important;
  }
  .utilities-img {
    pointer-events: none;
    width: 100%;
}
}
@media screen and (max-width: 1274px) {
    .utilities-container {
        display: none !important;
    }
    
}

/* 992px, 768px, 600px */
@media screen and (max-width: 992px) {
    .banner-text .title {
        text-shadow: 0px 0px 4px #121111;
        font-size: 42px !important;
    }
    .banner-text .sub-title {
        font-size: 81px !important;
    }
}
@media screen and (max-width: 768px) {

    .banner-text .title {
        text-shadow: 0px 0px 4px #121111;
        font-size: 37px !important;
    }
    .banner-text .sub-title {
        font-size: 76px !important;
    }
    .map_holder {
        margin-top: 2rem;
    }
}
@media screen and (max-width: 600px) {
    .roadmap .container {
        justify-content: center;
    }
}
@media screen and (max-width: 612px) {
    .map_holder {
        margin-right: 0;
    }
    
}