.utilities-container {
    height: auto;
    margin-top: 19rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.utilities-img {
    pointer-events: none;
    width: 100%;
}
.utilities-header {
    text-align: center;
    position: absolute;
    top: 15%;
}
.points {
    background-image: url(/images/points_rect.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    transform: scale(.6);
    display: flex;
    padding: 14px;
    align-items: flex-start;
    justify-content: unset;
    flex-direction: column;
}
.points img {
    width: 120px;
}
.text.one {
    left: 20.8%;
    top: 41.95%;
}
.text.two {
    right: 23.31%;
    top: 40.39%;
}
.text.three {
    left: 3.6%;
    bottom: 9.87%;
}
.text.four {
    right: 14.3%;
    bottom: 27.93%;
}

.box{
    position: relative;
    display: inline-block; 
    /* Make the width of box same as image */
}
.box .text{
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    text-align: center;
    font-family: Arial,sans-serif;
    color: #fff;
    height: 107px;
    width: 215px;
    transform: scale(.9);
}