.utilities-container {
    height: auto;
    margin-top: 19rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.utilities-img {
    height: auto;
    width: 70%;
    pointer-events: none;
}
.utilities-header {
    text-align: center;
    position: absolute;
    top: 15%;
}
.points {
    background-image: url(/images/points_rect.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    transform: scale(.6);
    display: flex;
    padding: 14px;
    align-items: flex-start;
    justify-content: unset;
    flex-direction: column;
}
.points img {
    width: 120px;
}
.text.one {
    left: 17.3%;
    top: 40.7%;
}
.text.two {
    right: 21.89%;
    top: 31.3%;
}
.text.three {
    left: 6.4%;
    bottom: 17.1%;
}
.text.four {
    right: 7.7%;
    bottom: 18.1%;
}

.box{
    position: relative;
    display: inline-block; /* Make the width of box same as image */
}
.box .text{
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    text-align: center;
    font-family: Arial,sans-serif;
    color: #fff;
    height: 107px;
    width: 215px;
    transform: scale(.6);
}